body
  nav.navbar.navbar-default
    div.container-fluid
      div.navbar-header
        a.navbar-brand(href='/') Our App
      ul.nav.navbar-nav
        li
          a(href='/users') Users
      p.navbar-text.navbar-right(role='user-name')    
  div.container
    main(role="page-container")      

  